@view-transition{
  navigation: auto;
}
.img-1 {
  view-transition-name: img-1;
  contain: paint;
}
.img-2 {
  view-transition-name: img-2;
  contain: paint;
}
.img-3 {
  view-transition-name: img-3;
  contain: paint;
}
.img-4 {
  view-transition-name: img-4;
  contain: paint;
}
.img-5 {
  view-transition-name: img-5;
  contain: paint;
}
.img-6 {
  view-transition-name: img-6;
  contain: paint;
}
.img-7 {
  view-transition-name: img-7;
  contain: paint;
}
.img-8 {
  view-transition-name: img-8;
  contain: paint;
}
.img-9 {
  view-transition-name: img-9;
  contain: paint;
}
.img-10 {
  view-transition-name: img-10;
  contain: paint;
}
.img-11 {
  view-transition-name: img-11;
  contain: paint;
}
.img-12 {
  view-transition-name: img-12;
  contain: paint;
}
.img-13 {
  view-transition-name: img-13;
  contain: paint;
}
.img-14 {
  view-transition-name: img-14;
  contain: paint;
}
.img-15 {
  view-transition-name: img-15;
  contain: paint;
}
.img-16 {
  view-transition-name: img-16;
  contain: paint;
}
.img-17 {
  view-transition-name: img-17;
  contain: paint;
}
.img-18 {
  view-transition-name: img-18;
  contain: paint;
}
.img-19 {
  view-transition-name: img-19;
  contain: paint;
}
.img-20 {
  view-transition-name: img-20;
  contain: paint;
}